*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #183D3D;
}
form{
    margin:10px 0;
    overflow: hidden;
}
#form-screen{
    width:80%;
    /* background-color: #141E46; */
    background-color: #301E67;
    padding:1.5%;
    border-radius: 15px;
    transition: all .5s ease;
    box-shadow:25px 25px 75px rgba(0,0,0,0.25),10px 10px 70px rgba(0,0,0,0.25),inset 5px 5px 10px rgba(0,0,0,0.5),inset 5px 5px 20px rgba(255,255,255,0.2),inset -5px -5px 15px rgba(0,0,0,0.75);
}
.type{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50%;
    gap:5px;
    text-align: center;
    align-items: center;
}
.options{
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 5%;
    font-size: 1.6em;
    font-weight: 800;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    position: relative;
    color:white;
    box-shadow:25px 25px 75px rgba(0,0,0,0.25),10px 10px 70px rgba(0,0,0,0.25),inset 5px 5px 10px rgba(0,0,0,0.5),inset 5px 5px 20px rgba(255,255,255,0.2);
}
.active{
    background-color: #F2BE22;
    color:#F24C3D;
}

/* 
.options::after{
    content:'';
    position: absolute;
    background-color:#F2BE22;
    width:0;
    height:2px;
    bottom:0;
    box-shadow:0px 0px 15px #F2BE22,
     0px 0px 10px #F2BE22,0 0 30px 
     #F2BE22;
    transition:width .5s ease-in-out;
}
.options:hover::after,.active::after{
    width:100%;
} */

.inp label span{
    font-size: 1.2em;
    font-weight: 800;
}

.asterisk{
    color:red;
    text-shadow: 0 0 15px red;
}
.green{
    color:greenyellow;
    text-shadow: 0 0 15px greenyellow;
}
.inp label{
    font-size: 1.4em;
    font-weight: 600;
    position: relative;
    bottom:-1.4em;
    display: block;
    color:white;
    transition:transform .5s ease;
}
.inp input{
    position:relative;
    bottom:0;
    outline:none;
    border:none;
    height:1.8em;
    width:100%;
    background: transparent;
    font-size: 1.4em;
    border-bottom: 3px solid #FFBE0F;
    padding-left: 5px;
    
}
.inp{
    padding:1.3%;
    height:6em;
}
.op{
    overflow: hidden;
    display: block; 
}
.optional-team{
    display: none;
}
.inp:focus-within 
 label,.label-up{
    transform:translate(-3px,-1.4em);
}

.numv::-webkit-outer-spin-button,
.numv::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.numv[type=number] {
    -moz-appearance:textfield;
}



.games{
    margin:10px 0;
    padding:1.5%;
    display:grid;
    grid-auto-flow: column;
}
.left{
    color:white;
    font-size: 1.4em;
    font-weight: 600;
}
.comp{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.options2{
    display: flex;
    padding:2%;
}
.options2 label{
    cursor: pointer;
    margin-left: 5px;
    font-size: 1.2em;
    color:white;
    font-weight: 550;
}
.options2 input{
    cursor: pointer;
    height:22px;
    width:22px;
    color:aquamarine;
    accent-color: #FFBE0F;
}




.btn-div{
    padding:2% 0;
    display:flex;
    justify-content: center;
    align-items: center;
}
.btn{
    padding:10px 20px;
    border-radius: 15px;
    font-size: 1.5em;
    font-weight: 600;
    border:none;
    outline: none;
    display: flex;
    flex-direction: column;
    background-color:#FFBE0F;
    box-shadow:0px 0px 15px#FFBE0F,
     0px 0px 10px#FFBE0F;
     transition:all .5s ease;
}
.btn:hover{
    color:white;
    background-color: #5E6F64;
    box-shadow:0px 0px 15px #5E6F64,
     0px 0px 10px #5E6F64,0 0 30px 
     #5E6F64;
}

@media (max-width:800px){
    .options{
        font-size: 1.3em;
    }
    .inp input,.inp label,.games label,.comp label{
        font-size: 1em;
    }
    .inp{
        height:3.5em;
        margin:1% 0;
    }
    .comp input{
        height:18px;
        width:18px;
    }
    .btn{
        padding:8px 10px;
        font-size: 1em;
    }
}
@media (max-width:500px){
    #form-screen{
        width:95%;
    }
}
@media (max-width:330px){
    .options{
        font-size: 1em;
    }
    .inp input,.inp label,.games label,.comp label{
        font-size: .8em;
    }
    .btn{
        padding:5px 10px;
        font-size: .8em;
    }
}
